@import "tailwindcss";

:root {
  /* COLOR PALETTE */
  --background-color: #FEFCF0;
  --primary-color: #355300;
  --accent-color: #E7B343;
  --taupe: #F4EEDE;
  --moldify-red: #E44C37;
  --moldify-blue: #114EB0;
  --moldify-black: #22272B;
  --moldify-grey: #595C5E;
  --moldify-softGrey: #9E9B9B;

  /* HOVER COLOR */
  --hover-primary: #416600;
  --hover-accent: #D99E2B;

  /* PRIORITY LEVEL COLORS */
  --moldify-light-green: #B4D37F;
  --moldify-light-yellow: #F9CC69;
  --moldify-light-red: #FFA397;
}
body {
  background: var(--background-color);
}
