@import "tailwindcss";

:root {
  /* COLOR PALETTE */
  --background-color: #FEFCF0;
  --primary-color: #355300;
  --accent-color: #E7B343;
  --taupe: #F4EEDE;
  --moldify-red: #E44C37;
  --moldify-blue: #4986EB;
  --moldify-black: #22272B;
  --moldify-grey: #7E8083;
  --moldify-softGrey: #D9D9D9;
}
body {
  background: var(--background-color);
}
